<div class="page-full page-content">
  {%- render 'breadcrumbs' -%}
  <header class="section-header">
    <h1 class="section-header__title">{{ page.title | escape }}</h1>
  </header>

  <div class="rte rte--nomargin">
    {{ page.content | replace: '<img', '<img loading="lazy"' | replace: '<iframe', '<iframe loading="lazy"' | replace: '<video', '<video preload="none"' }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page-full-width.name",
  "tag": "section"
}
{% endschema %}
